@import './fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.0em; /* Custom tracking value for Montserrat */
  line-height: 160%;
}

.scroll-rows-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.scroll-container {
  display: flex;
  gap: var(--spacing);
  width: calc(var(--container-width) * 2);
  animation: scroll var(--scroll-duration) linear infinite;
}

.scroll-container.reverse {
  animation-direction: reverse;
}

.scroll-item {
  flex: 0 0 auto;
}

/* Adding the fade effect to the edges */
.scroll-rows-container::before,
.scroll-rows-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px; /* Adjust width of the fade */
  z-index: 1;
}

.scroll-rows-container::before {
  left: 0;
  background: linear-gradient(to right, #ffffff, transparent);
}

.scroll-rows-container::after {
  right: 0;
  background: linear-gradient(to left, #ffffff, transparent);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--container-width)));
  }
}
