/* All @import rules must be at the top */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

/* Import Clash Display */
@font-face {
  font-family: 'Clash Display';
  src:
    url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
    url('/fonts/ClashDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Import Satoshi */
@font-face {
  font-family: 'Satoshi';
  src:
    url('/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('/fonts/Satoshi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
